@if $Hide_default_button == "true" {
  button#create-topic {
    display: none;
  }
}

.header-actions {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

